    <div class="panel-heading" style="font-size:large">
        About Lake Malawi
    </div>
        
      <div class="container">
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#/about">About</a></li>
        <li ><a href="#/success">Parks</a></li>
        <li><a href="#/accommodation">Accomodation</a></li>
        <li><a href="#/cities">Cities </a></li>
        <li><a href="#/events">Events</a></li>
        <li><a href="#/historical">Historical</a></li>
        <li><a href="#/lakes">Lake</a></li>
        <li><a href="#/mountains">Mountains</a></li>
        <li><a href="#/dictionary">Word Phrases</a></li>
        <li><a href="#/travel">Agents</a></li>
      </ul>
    </div>


        
    <form ng-submit="addFormSubmit()" ng-show="addFormShow">
       <input type="text" ng-model="info" placeholder="Info" />
        <input type="text" ng-model="geography" placeholder="Geography" />
        <input type="text" ng-model="lake" placeholder="Lake" />
        <input type="text" ng-model="language" placeholder="Language" />
        <input type="text" ng-model="image" placeholder="Image Path" />
        <input type="submit" value="Add About" class="btn btn-default btn-success" />
    </form>

    <form ng-submit="editFormSubmit()" ng-show="editFormShow">
        <input type="text" ng-model="info" placeholder="Info" />
        <input type="text" ng-model="geography" placeholder="Geography" />
        <input type="text" ng-model="lake" placeholder="Lake" />
        <input type="text" ng-model="language" placeholder="Language" />
        <input type="text" ng-model="image" placeholder="Image Path" />
        <input type="submit" value="Edit About" class="btn btn-default btn-warning" />
    </form>
    <div class="panel panel-body">
        <table class="table">
            <thead>
            <tr>
                <td><h3>Info</h3></td>
                <td><h3>Geography</h3></td>
                <td><h3>Lake</h3></td>
                <td><h3>Language</h3></td>
                <td><h3>Image Path</h3></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in about">
                <td>{{ item.info}}</td>
                <td>{{ item.geography }}</td>
                <td>{{ item.lake }}</td>
                <td>{{item.language}}</td>
                <td>{{item.image}}</td>
                
                <td>
                    <button class="btn btn-primary" ng-click="showPark(item)" >Edit</button>&nbsp;

                </td>
            </tr>
            </tbody>
        </table>
       
        
    </div>