    <div class="panel-heading" style="font-size:large">
        Historical List
    </div>
        
    <div class="branding">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#/success">Parks</a></li>
        <li role="presentation"><a href="#/accommodation">Accomodation</a></li>
        <li role="presentation"><a href="#/cities">Cities </a></li>
        <li role="presentation"><a href="#/events">Events</a></li>
        <li role="presentation"><a href="#/historical">Historical</a></li>
        <li role="presentation"><a href="#/lakes">Lake</a></li>
        <li role="presentation"><a href="#/mountains">Mountains</a></li>
      </ul>
    </div>

        
  <form ng-submit="addFormSubmit()" ng-show="addFormShow">
        <input type="text" ng-model="name" placeholder="Name" />
        <input type="text" ng-model="reknown" placeholder="Location" />
        <input type="text" ng-model="shortname" placeholder="Short Name" />
        <input type="text" ng-model="bio" placeholder="Info" />
        <input type="text" ng-model="image" placeholder="Image Path" />
        <input type="submit" value="Add Parks" class="btn btn-default btn-success" />
    </form>

    <form ng-submit="editFormSubmit()" ng-show="editFormShow">
        <input type="text" ng-model="name" placeholder="Name" />
        <input type="text" ng-model="reknown" placeholder="Location" />
        <input type="text" ng-model="shortname" placeholder="Short Name" />
        <input type="text" ng-model="bio" placeholder="Info" />
        <input type="text" ng-model="image" placeholder="Image Path" />
        <input type="submit" value="Edit Park" class="btn btn-default btn-warning" />
    </form>
    <div class="panel panel-body">
        <table class="table">
            <thead>
            <tr>
                <td><h3>Name</h3></td>
                <td><h3>Location</h3></td>
                <td><h3>Short Name</h3></td>
                <td><h3>Info</h3></td>
                <td><h3>Image Path</h3></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in events">
                <td>{{ item.name}}</td>
                <td>{{ item.reknown }}</td>
                <td>{{ item.shortname }}</td>
                <td>{{item.bio | limitTo: 50}}</td>
                <td>{{item.image | limitTo: 15}}</td>
                
                <td>
                    <button class="btn btn-primary" ng-click="showPark(item)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deletePark(item)" >Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success" ng-click="showForm()" ng-hide="addFormShow">Add New</button>
        <button class="btn btn-warning" ng-click="hideForm()" ng-show="addFormShow">Minimize</button>
    </div>