    <div class="panel-heading" style="font-size:large">
        Travel Agents List
    </div>
        
      <div class="container">
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#/about">About</a></li>
        <li ><a href="#/success">Parks</a></li>
        <li><a href="#/accommodation">Accomodation</a></li>
        <li><a href="#/cities">Cities </a></li>
        <li><a href="#/events">Events</a></li>
        <li><a href="#/historical">Historical</a></li>
        <li><a href="#/lakes">Lake</a></li>
        <li><a href="#/mountains">Mountains</a></li>
        <li><a href="#/dictionary">Word Phrases</a></li>
        <li><a href="#/travel">Agents</a></li>
      </ul>
    </div>


        
  <form ng-submit="addFormSubmit()" ng-show="addFormShow">
        <input type="text" ng-model="name" placeholder="Name" />
        <input type="text" ng-model="location" placeholder="Location" />
        <input type="text" ng-model="telephone" placeholder="Telephone" />
        <input type="text" ng-model="email" placeholder="Email" />
        <input type="text" ng-model="website" placeholder="Website" />
        <input type="submit" value="Add Travel Agent" class="btn btn-default btn-success" />
    </form>

    <form ng-submit="editFormSubmit()" ng-show="editFormShow">
        <input type="text" ng-model="name" placeholder="Name" />
        <input type="text" ng-model="location" placeholder="Location" />
        <input type="text" ng-model="telephone" placeholder="Telephone" />
        <input type="text" ng-model="email" placeholder="Email" />
        <input type="text" ng-model="website" placeholder="Website" />
        <input type="submit" value="Edit Travel Agent" class="btn btn-default btn-warning" />
    </form>
    <div class="panel panel-body">
        <table class="table">
            <thead>
            <tr>
                <td><h3>Name</h3></td>
                <td><h3>Location</h3></td>
                <td><h3>Telephone</h3></td>
                <td><h3>Email</h3></td>
                <td><h3>Website</h3></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in travel">
                <td>{{ item.name}}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.telephone }}</td>
                <td>{{item.email}}</td>
                <td>{{item.website}}</td>
                
                <td>
                    <button class="btn btn-primary" ng-click="showPark(item)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deletePark(item)" >Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success" ng-click="showForm()" ng-hide="addFormShow">Add New</button>
        <button class="btn btn-warning" ng-click="hideForm()" ng-show="addFormShow">Minimize</button>
    </div>